/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Radio+Canada:wght@400;600;700&display=swap');

/* Variables CSS */
:root {

    /* color */
    --first-color: hsl(253, 65%, 75%);
    --first-color-alt: hsl(253, 45%, 61%);

    --title-color: #ebe7f9;
    --text-color: #c5c1e8;
    --text-color-light: #8f8cb9;

    --body-color: #100b20;
    --container-color: #211935;

    --header-height: 3.5rem;

    --biggest-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;

    --medium: 500;
    --semibold: 600;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== Base ===============*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: 'Poppins', sans-serif;
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .4s;
    /* for light mode animation */
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.container {
    max-width: 1000px;
    margin: 0 1rem;
}

.grid {
    display: grid;
    gap: 1.25rem;
}

.main {
    overflow: hidden;
}

.section {
    padding: 4.5rem 0 1rem;
}

.section__title,
.section__subtitle {
    text-align: center;
    font-weight: 1000;
}

.section__title {
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: 2rem;
}

.section__subtitle {
    display: block;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

/*=============== Header ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--first-color);
    font-weight: var(--medium);
    transition: .4s;
}

.nav__logo:hover {
    color: var(--first-color-alt);
}

.nav__menu {
    position: fixed;
    bottom: 1rem;
    background-color: #241e20b8;
    width: 90%;
    border-radius: 4rem;
    padding: 1rem 2.25rem;
    backdrop-filter: blur(10px);
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    color: var(--text-color);
    font-size: 1.25rem;
    padding: .4rem;
    display: flex;
    border-radius: 5rem;
}

.nav__link:hover {
    background: linear-gradient(180deg,
              #a395e9,
              hsla(253, 65%, 75%, 0.2)
              );
    box-shadow: 0 0 16px #a395e966;
}


/* Change Backround Header */
.scroll-header {
    box-shadow: 0 4px 4px #0a0a0a4d;
}

/* =============== Home =============== */
.home__container {
    position: relative;
    row-gap: 4.5rem;
    padding-top: 2rem;
}

.home__data {
    text-align: center;
}

.home__greeting,
.home__education {
    font-size: var(--small-font-size);
    font-weight: var(--medium);
}

.home__greeting {
    display: block;
    color: var(--text-color);
    margin-bottom: .25rem;
}

.home__education {
    color: var(--text-color);
    margin-bottom: 2.5rem;
}

.home__name {
    font-size: var(--biggest-font-size);
}

.home__handle {
    justify-content: center;
    width: 190px;
    height: 293px;
    border-radius: 10rem 10rem 1rem 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    justify-self: center;
}

.home__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.home__social,
.home__scroll {
    position: absolute;
}

.home__social {
    bottom: 5rem;
    left: 0;
    display: grid;
    row-gap: .5rem;
}

.home__social-link {
    width: max-content;
    background-color: var(--container-color);
    color: var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    font-size: 1rem;
    transition: .4s;
}

.home__social-link:hover {
    background-color: var(--first-color);
    color: #fff;
}

.home__social::after {
    content: '';
    width: 32px;
    height: 2px;
    background-color: var(--first-color);
    transform: rotate(90deg)  translate(16px, 3px);
}

.home__scroll {
    color: var(--first-color);
    right: -1rem;
    bottom: 4rem;
    display: grid;
    row-gap: 2.25rem;
    justify-items: center;
}

.home__scroll-icon {
    font-size: 1.25rem;
}

.home__scroll-name {
    font-size: var(--smaller-font-size);
    transform: rotate(-90deg);
}

/* Button */

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--medium);
    transition: .4s;    
}

.button:hover {
    background-color: var(--first-color-alt);
    color: var(--body-color);  
}

.button--ghost {
    background-color: transparent;
    border: 2px solid var(--first-color);
    color: var(--first-color);

}

/*=============== About ===============*/

.about__container {
    row-gap: 2.5rem;
}

.about__img {
    width: 220px;
    border-radius: 1.5rem;
    justify-self: center;
    margin: 2.5rem; 
}

.about__data {
    text-align: center;
}

.about__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    margin-bottom: 2rem;
}

.about__box {
    background-color: var(--container-color);
    border-radius: .75rem;
    padding: 1rem .5rem;
}

.about__icon {
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: .5rem;    
}

.about__subtitle {
    font-size: var(--tiny-font-size);
}

.about__description {
    margin-bottom: 1.5rem;
}

/*=============== Skills ===============*/

.skills__container {
    row-gap: 3rem;
    padding-top: 1rem;
}

.skills__content {
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 1.25rem;
}

.skills__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

.skills__box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group {
    display: grid;
    align-content: flex-start;
    row-gap: 1rem;
}

.skill__data {
    display: flex;
    column-gap: .5rem;
    margin-bottom: 1rem;
}

.skill__data .bx-badge-check {
    font-size: 1rem;
    color: var(--first-color);
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--medium);
    line-height: 18px;
}

.skill__level {
    font-size: var(--tiny-font-size);
}

/*=============== Works ===============*/

.work__container {
    padding-top: 1rem;
}

.work__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}

.work__item {
    cursor: pointer;
    color: var(--text-color);
    padding: .25rem .75rem;
    font-weight: var(--medium);
    border-radius: .5rem;
}

.work__card {
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: 1rem;
}

.work__img {
    border-radius: 1rem;
    margin-bottom: .75rem;
}

.work__title {
    font-size: var(--normal-font-size);
    font-weight: var(--medium);
    margin-bottom: .25rem;
}

.work__button {
    width: max-content;
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
}

.work__button:hover .work__icon {
    transform: translateX(.25rem);
}

.work__icon {
    font-size: 1rem;
    transition: .4s;
}

/* Active Work */
.active-work {
    background-color: var(--first-color);
    color: var(--body-color);

}

/*=============== Contact ===============*/

.contact__container {
    row-gap: 3rem;
    padding-bottom: 3rem;
}

.contact__title {
    text-align: center;
    font-size: var(--h3-font-size);
    margin-bottom: 1.5rem;
}

.contact__info {
    display: grid;
    gap: 1rem;
}

.contact__card {
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: .75rem;
    text-align: center;
}

.contact__card-icon {
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: .25rem;
}

.contact__card-title,
.content__card-data {
    font-size: var(--small-font-size);
    padding: 5px 5px 5px 5px;
}

.contact__card-title {
    font-weight: var(--font-medium);
}

.content__card-data {
    display: block;
    margin-bottom: .75rem;
}

.contact__button {
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
}

.contact__button:hover .contact__button-icon {
    transform: translateX(.25rem);
}

.contact__button-icon {
    font-size: 1rem;
    transition: .4s;
}

/*=============== Footer ===============*/

.footer {
    background-color: var(--first-color);
}

.footer__container {
    padding: 2rem 0 6rem;
}

.footer__title,
.footer__link {
    color: var(--body-color);
}

.footer__title {
    text-align: center;
    margin-bottom: 2rem;
}

.footer__list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer__social-link {
    background-color: var(--body-color);
    color: var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    font-size: 1rem;
    display: inline-flex;
}

.footer__copy {
    display: block;
    margin-top: 4.5rem;
    color: var(--container-color);
    text-align: center;
    font-size: var(--smaller-font-size);
}

.education-internships__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    max-width: 992px;
    margin: 0 auto;
}

.education__content, .internship__content {
    background-color: var(--container-color);
    padding: 2rem;
    border-radius: 1.25rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.education-internships__data {
    display: flex;
    align-items: center;
}

.education__title, .internship__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: white;
    margin-left: 0.5rem;
}

.education__subtitle, .internship__subtitle {
    font-size: 0.9rem;
    font-weight: normal;
    color: var(--text-color-light);
    text-align: left;
    margin-top: 0.5rem;
}

.education__content i, .internship__content i {
    font-size: 2rem;
    color: var(--first-color);
}

@media screen and (max-width: 768px) {
    .education-internships__container {
        grid-template-columns: 1fr;
    }
}

/*=============== Scroll bar ===============*/

::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: #8a71c7;
}

::-webkit-scrollbar-thumb {
    background-color: #4a3a6a;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3b2a5a;
}


/*=============== Breakpoints ===============*/
/* For small devices */
@media screen and (max-width: 360px) {
    .nav__menu {
        padding: 1rem 1.5rem;
    }

    .home__buttons {
        flex-direction: column;
    }

    .home__handle {
        width: 150px;
        height: 253px;
    }

    .home__img {
        width: 130px;
    }

    .about__info {
        grid-template-columns: repeat(2, 1fr);
    }

    .about__box {
        column-gap: 1rem;
        padding: 1rem .5rem;
    }

    .skills__name {
        font-size: var(--small-font-size);
    }

    .work__item {
        font-size: var(--small-font-size);
    }

    .work__filters {
        column-gap: .25rem;
    }

    .education-internships__container {
        grid-template-columns: 1fr;
        padding: 1rem;
    }

}

/* For medium device */

@media screen and (min-width: 576px) {
    .nav__menu {
        width: 328px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .about__info {
        grid-template-columns: repeat(3, 140px);
        justify-content: center;
    }

    .about__description {
        padding: 0 5rem;
    }

    .skills__container {
        justify-content: center;
    }

    .skills__content {
        padding: 2rem 4rem;
    }

    .about__box {
        column-gap: 1rem;
        padding: 1rem .5rem;
    }

    .work__container {
        justify-content: center;
    }

    .work__img {
        width: 295px;
    }

    .contact__info {
        grid-template-columns: 360px;
        justify-content: center;
    }

    .contact__form {
        width: 360px;
        margin: 0 auto;
    }

    .education-internships__container {
        grid-template-columns: repeat(1, 1fr);
        padding: 1.5rem;
    }

    .achievements__container {
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
    }

}

@media screen and (min-width: 767px) {
    .work__container {
        grid-template-columns: repeat(2, max-content);
    }

    .contact__container {
        grid-template-columns: repeat(2, max-content);        
        justify-content: center;
    }

    .about__box {
        column-gap: 1rem;
        padding: 1rem .5rem;
    }

    .education-internships__container {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
    }
}

/* For large device */

@media screen and (min-width: 992px) {
    .container {
        margin: 0 auto;
    }

    .section {
        padding: 6.5rem 0 1rem;
    }

    .section__title {
        margin-bottom: 3.5rem;
    }

    .nav {
        height: calc(var(--header-height) + 1rem);
    }

    .home__handle {
        width: 290px;
        height: 400px;
    }

    .home__img {
        width: 220px;
    }

    .home__social-link {
        padding: .4rem;
        font-size: 1.25rem;
    }

    .home__scroll::after {
        transform: rotate(90deg) translate(16px, 0);
    }

    .home__scroll-icon {
        font-size: 2rem;
    }

    .about__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 4rem;
    }

    .about__img {
        width: 300px;
    }

    .about__data {
        text-align: initial;
    }

    .about__info {
        justify-content: initial;
    }

    .about__box {
        text-align: center;
        padding: 1rem .5rem;
    }

    .about__description {
        padding: 0 4rem 0 0;
        margin-bottom: 2.5rem;
    }

    .skills__container {
        grid-template-columns: repeat(2, 450px);
        column-gap: 3rem;
    }

    .work__container {
        gap: 3rem;
    }

    .work__card {
        padding: 1.25rem;
    }

    .work__img {
        margin-bottom: 1rem;
    }

    .work__title {
        margin-bottom: .5rem;
    }

    .testimonial__container {
        width: 750px;
    }

    .testimonial__card {
        padding: 1.5rem 2rem;
    }

    .contact__container {
        column-gap: 6rem;
    }

    .footer__social-link {
        font-size: 1.25rem;
        padding: .4rem;
        border-radius: .5rem;
    }

    .education-internships__container {
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem;
        gap: 2rem;
    }

    .home__handle {
        width: 220px;
        height: 360px;
    }

    .achievements__container {
        grid-template-columns: 1fr 1fr;
        padding: 3rem;
    }
}
